.cont {
    margin: 0px;
    border: 1px solid red;
}

.heading {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

@media (min-width: 0px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
        color: black;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
        color: grey;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
        color: blue;
    }
}
