html,
body {
    height: 100%;
}

body {
    /*background: linear-gradient(to bottom right, rgba(153, 153, 255, 0.8), rgba(0, 153, 204, 0.8));*/
}

p {
    margin: 0px;
}

.main-page-img {
    height: 100%;
    background-image: url("https://unsplash.com/photos/L2dMFs4fdJg/download?force=true");
    background-size: cover;
    background-position: center;
}

.main-page-overlay {
    height: 100%;
    background: linear-gradient(to bottom left, rgba(0, 153, 204, 0.5), rgba(153, 153, 255, 0.5));
}

.main-page {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.main-page>nav>p {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.profile_details {
    border: 5px solid white;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_details>p:first-of-type {
    font-family: verdana;
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.profile_details>p {
    font-size: 10px;
    color: white;
}

.nav>ul>li>a:onclick {
    font-size: 50px;
}

.nav-float {
    width: 90%;
    height: 50px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    background-color: white;
    align-items: center;
    border-radius: 20px;
}

.about {
    display: flex;
    height: 100%;
}

.about>img {
    width: 50%;
    height: 50%;
}

.about>p {
    font-size: 30px;
    font-weight: 700;
    font-family: arial, sans-serif;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
}

.content>p {
    align-self: flex-end;
}
