


            p{
                display: inline;
                font-family: arial;
                
            }
            h2{
                font-family: arial;
            }
            h1{
                font-family: verdana;
                font-weight:100;
                font-size:50px;
                padding:0px;
            }
            pre{
                font-family: arial;
                font-size:13px;
            }
            img{
                width: 400px;
                height: 350px;
                margin-top: 15px;
                padidng-left:5px;
            }
            .image{
                display:inline-block;
                float:left;
                border:2px solid red;
                width:40%;
            }
            .main{
                display:inline-block;
                width:100%;
                height:100%;
                border:2px solid green;
                float:left;
            }
            .content{
                display:inline-block;
                width:59%;
                float:left;
                
            }
            .heading{
                width:25%;
                padding:0px;
                margin:0px;
            }
            .first{
                width:99%;
                height: 50%;
                border:2px solid maroon;
            }
            .second{
                display:block;
                border: 2px solid red;
            }