html,
body {
    height: 100%;
}

.container-fluid {
    margin: 0px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-around;

}

.box {
    border: 5px solid yellow;
    border-radius: 5%;
    background-color: lightyellow;
    width: 49%;
    height: 100%;
    margin: 2px;
}

.box_content {
    height: 88%;
}

.box_content p,
button {
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    margin-left: 5%;
    margin-right: 5%;
}

.box_content img {
    margin-left: 22%;
    margin-top: 5%;

}

p,
li {
    font-family: arial;
    font-size: 18px;
}

.heading {
    color: #3366ff;
    font-size: 25px;
    font-family: arial;
}

.end {
    display: flex;

    align-items: flex-end;
}

button {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: green;
    color: white;
    font-family: arial;
    font-size: 250%;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid black;
}
