a img {
    width: 20px;
    margin-right: -10px;
}

img {
    display: inline;
    background-color: white;

}

a {
    color: white;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.nav-item img {
    filter: invert(100);
}

.nav-item btn {
    filter: invert(100);
}

.header {
    background-color: black;
}

.navbar_head {
    color: black;
}

.navbar_head a {
    color: grey;
}

.nav-item {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

.nav-item d-md-none {
    margin: 0px;
    padding: 0px;
    padding-top: 150px;
}

input {
    background-color: #f0f0f0;
    color: white;
    width: 10px;
    height: 5px;
}

.size_small {
    height: 5px;
}

.center {
    text-align: center;
    justify-content: center;
}

.absolute_right {
    position: absolute;
    padding-top: 10px;
    right: 0;
}

.absolute_left {
    position: absolute;
    padding-top: 10px;
    left: 0;
}
