body {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    height: 40px;
    margin: auto;
}

.header img {
    display: inline;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin: auto;
    height: 80%;
    float: left;

}

.header p {
    display: inline-block;
}

.header_title {
    font-family: arial;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    float: left;
}

.head_links {
    display: inline-block;
    padding-top: 5px;
    padding-right: 1px;
    font-family: arial;
    color: grey;
    text-align: center;
}

.header_title1 {
    font-family: arial;
    font-size: 19px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.container {
    border: 2px solid green;
    margin-left: 0px;
    margin-right: -80px;
}

.col-6,
.left {
    float: left;
}

.col-6,
.right {
    float: right;
}

.head_description {
    font-size: 40px;
    font-family: arial;
    padding-top: 150px;
    font-weight: 500;
}

.head_description2 {
    font-size: 30px;
    padding-top: 50px;
    font-family: arial;
    display: block;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    font-weight: 700;
}

.description {
    font-size: 15px;
}

.description2 {

    padding-top: 100px;
    display: block;
    text-align: center;
    justify-content: center;
}

.mobile_img {
    padding-top: 10%;
    width: 100%;
    box-shadow: 0px 5px 2px grey;
    display: block;
}

.header_title2 {
    font-family: arial;
    font-size: 19px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
}

.apps img {
    width: 145px;
    margin-right: 10px;
}

.apps2 img {
    width: 145px;
    margin-left: 10px;
}

.head_description3 {
    font-size: 33px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}

.description3 {
    font-size: 15px;
    display: block;

}

.grey_background2 {
    background-color: #f0f0f0;
    margin-bottom: 100px;
}

.white_background2 {
    margin-bottom: 100px;
    float: left;
}

.white_background23 {
    margin-bottom: 150px;
    float: left;
}

.white_background {
    margin-bottom: 100px;
}

.grey_background2 img {
    padding-top: 100px;
    width: 100%;
}

.white_background2 img {
    width: 100%;
}

.img_width {
    width: 100%;
}

.center {
    font-size: 33px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

.center img {
    width: 60px;
    display: inline;
}

.center btn {
    position: fixed;
    left: 100px;
    margin-left: 50px;
}

.org1 {
    float: left;
    margin-right: 10px;
    margin-left: -10px;
}

.org2 {
    float: left;
    margin-left: 10px;
    margin-right: -10px;
}

.margin_bot {
    margin-bottom: 100px;
}

.image {
    width: 100%;
}

.height_descr {}

.height_descr img {
    padding-top: 10%;
    overflow: visible;
    width: 120%;
    display: inline;
    margin: auto;
    margin-left: -90px;



}



.btn .d-none {
    padding-top: 100px;
    border: 2px solid red;
}

.experience {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 33px;
    font-weight: 500;
    text-justify: center;
}

.descript {
    font-size: 12px;
    margin: auto;
    text-align: center;
    text-justify: center;
}

.shadow_border {
    box-shadow: 0px 5px 2px grey;
}

.btn_height {
    height: 50px;
}

.btn {
    width: 155px;
    display: inline;

    float: left;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.header,
.btn {
    text-align: center;
}

.grey_background {
    background-color: #f0f0f0;
    margin-bottom: 150px;
}

.grey_background3 {
    background-color: #f0f0f0;
    margin-top: 100px;
    padding-top: 50px;
    font-size: 15px;
    font-family: arial;
    padding-bottom: 50px;
}

.experience img {
    width: 100%;
}

.exper_row {
    padding-bottom: 100px;
}



.sect_img {
    width: 100%;
}

.blur {
    background-color: hsl(0, 0%, 90%);

}

.getgmail {
    display: block;
    margin: auto;

    padding: 10px;
}

.col-height {
    height: 500px;
    padding-bottom: 50px;
}

img {
    display: inline;
}

.dropdown {}
