body {
    background-color: #f7fbff;
}

h1 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 50px;
    border-bottom: 1px solid grey;
}

p {
    border: 2px solid black;
    font-size: 14px;
    background-color: orange;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media (min-width:576px) {
    p {
        border: 2px dashed black;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #00c8ff;
    }
    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:768px) {
    p {
        border: 2px dotted black;
        font-size: 18px;
        background-color: #246caf;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:992px) {
    p {
        border: 2px solid black;
        font-size: 20px;
        background-color: #7985ff;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:1200px) {
    p {
        border: 2px solid white;
        font-size: 22px;
        text-align: center;
        background-color: white;
        padding-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
}
