.cont {
    margin: 0px;
}

.heading p {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0px;

}

.heading2 {
    font-size: 30px;
    font-weight: 350;
    margin-bottom: 0px;
}

.heading {}

.left,
.right {
    display: inline-block;


}

.grey {
    background-color: lightgrey;
}

@media (max-width: 767px) {
    .left,
    .right {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .cont {
        margin-right: 100px;
        margin-left: 100px;
    }
    .left,
    .right {
        width: 49%;
        margin: 0px;
    }
    .heading {
        border-bottom: 1px solid lightgrey;
    }
    .content {
        color: grey;
    }
}
