body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
  font-size: 24px;
}

.flexbox {
  display: flex;
  background-color: lightgrey;
  width: 100vw;

}

.item {
  border: 2px solid orange;
  flex: 1 0 25%;
}

.spcl_item {
  width: 10%;
  flex: 1 0 50%;
}
