html,
body {
    height: 100%;
}

* {
    none;
}

p,
li {
    font-family: arial;
    padding: 0px;
    margin: 5px;
}

header {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

header>div {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

header p {
    margin-left: 7px;
    color: grey;
}

header>div>p {
    font-size: 20px;
}

header img {
    height: 30px;
    width: 30px;
}

button {
    background-color: blue;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}


.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing_content {
    display: flex;
    flex-direction: column;
}

div>p:first-of-type {
    font-size: 40px;
}

.landing_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
}

.experience>img {
    width: 100%;
    margin-top: 70px;
}

.experience>div {
    display: flex;
}

.experience>div>img {
    height: 70px;
    width: 200px;
}

.features {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.features2 {
    display: flex;
    margin-bottom: 10px;
}

.features2 {
    background-color: lightgrey;
    width: :98%;
}

.one {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.one>img {
    width: 100%;
}

.last {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.last>img {
    width: 55px;
    height: 50px;
}

.last>p:first-of-type {
    font-size: 25px;
}

.nav-bar {
    width: 100%;
    color: grey;
    display: flex;
    flex-direction: column;
}

.nav-bar>div {
    width: 100%;
    display: flex;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;

}

li {}

.nav-bar>p:first-of-type {
    font-size: 20px;
    color: grey;
}

.grow {
    flex-grow: 1;
}
