@media (min-width:0px) {
    .tablet {
        display: none;
    }
    .desk {
        display: none;
    }
    .tab_desk {
        display: none;
    }
    header {
        border-bottom: 1px solid lightgrey;
    }
    .landing {
        text-align: center;
    }
    .landing>div {
        width: 100%;
    }
    .landing_content {
        align-items: center;
    }
    .landing_content>p:first-of-type {
        padding-top: 10px;
    }
    .landing_img {
        width: 100%;
        height: 50%;
    }

    .landing_img>img {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .features,
    .features2 {
        flex-direction: column;
        align-items: space-around;
    }
    .one {
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .nav-bar>div {
        flex-direction: column;
    }
    ul {
        justify-content: flex-start;
    }
    li {
        margin-right: 30px;
    }


}


@media (min-width:992px) {
    .tablet {
        display: inline;
    }
    .tab_desk {
        display: inline;
    }
    .mobile {
        display: none;
    }
    .landing {
        height: 90%;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
    }
    .landing>div {
        width: 50%;
        height: 100%;
    }
    .landing_content {
        justify-content: center;
        align-items: flex-start;
    }
    .landing_content>p:first-of-type {
        padding-top: 0px;
    }
    .features,
    .features2 {
        flex-direction: row;
        justify-content: space-between;
    }
    .one {
        height: 50vh;
        text-align: left;
        align-items: flex-start;
        width: 49%;
        justify-content: space-evenly;
    }
    .one>div>p {
        margin-left: 50px;
    }
    .nav-bar>div {
        flex-direction: row;
    }
    ul:first-of-type {
        width: 70%;
    }
}

@media (min-width:1200px) {
    .desk {
        display: inline;
    }
    .landing_img>img {
        width: 100%;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .mobiletab {
        display: none;
    }
    .nav-bar>div {
        width: 70%;
    }
    .nav-bar {
        align-items: center;
    }
}
