body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

div {
  text-align: center;
}

.header {
  height: 70px;
  width: 100%;
  background-color: orange;
}

.nav_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Navigation {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: 768px;
  min-width: 200px;
  background-color: green;
}

.Navigation>p {
  margin-left: 30px;
  margin-right: 30px;
}

.Content {
  width: 768px;

  /*flex: 1 1 0;*/
  flex-grow: 5;
  flex-shrink: 1;
  flex-basis: 1;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main *,
.main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.article {
  border: 1px solid black;
  width: 90%;

}

.section {
  width: 90%;
  border: 1px dotted black;
}

.footer {
  background-color: grey;
  width: 100%;
  height: 70px;
}
