body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox>div {
  height: 100px;
}

.orange {
  width: 576px;
  flex-grow: 3;
  background-color: orange;
}

.green {
  width: 288px;
  flex-grow: 2;
  background-color: green;
}

.maroon {
  width: 289px;
  flex-grow: 1;
  background-color: maroon;
}
